<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>      
    <div style="margin-bottom: 15px; text-align: center;font-family:verdana">
        <h1 style="color:rgb(255, 0, 149);"> Considering adopting a dog?</h1>
        <h2 style="color:rgb(255, 137, 220);">You're in the right place!</h2>
    </div>

    <div style="text-align: center;font-family:verdana;margin-bottom: 15px">
        <img src="../static/dog.jpg" alt="" width="350px"> <br>
        <h2 style="color: rgb(255, 137, 220);">please contact us if you interested! <br>    
    </div>

    <div style="text-align: center;font-family:verdana;margin-bottom: 15px">
        <footer>
            <h2> <b><a href="contactUs.html" target="_blank">click here to contact us</a> <p></p>  </h2>
        </footer>
    </div>


    <footer style="position:fixed;bottom:0;font-family:verdana;color: rgb(255, 0, 149);">
        <h6>We love pets association <br> locate at Beer Sheva <br><span style="color: rgb(247, 119, 240);">Come and visit us!</span> </h6>
    </footer>
</body>

</html>